doctype html
head
  |   <!-- Google Tag Manager -->
  |   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  |   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  |   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  |   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  |   })(window,document,'script','dataLayer','GTM-WKSH2RQ');</script>
  |   <!-- End Google Tag Manager -->
  title LogiJS: Dashboard
  meta(name='keywords', content='LogiJS, logic, circuit, simulation, simulator, editor, free, open, source, gate, input, output, sketch, electronics, physics, informatics, it, \
  computer, chip, pcb, design, creator, creation, processor, cpu, logi, js, javascript')
  meta(name='description', content='LogiJS is a logic circuit simulator built for educational use. Easy to use, yet powerful.')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='images/favicon.ico')
  style
    include css/bootstrap.css
    include css/index_style.css
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
  link(rel="stylesheet", type='text/css', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js')
  script.
    window.addEventListener("load", function () {
    window.cookieconsent.initialise({
    "palette": {
    "popup": {
    "background": "#323232",
    "text": "#ffffff"
    },
    "button": {
    "background": "#c83232",
    "text": "#ffffff"
    }
    }
    })
    });
body
  |   <!-- Google Tag Manager (noscript) -->
  |   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKSH2RQ"
  |   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  |   <!-- End Google Tag Manager (noscript) -->
  .top-menu
    .container
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(src='images/logo_index.png', style='width: 200px;', alt='LogiJS', title='LogiJS')
          #nav-bar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right(style='margin-top: 40px;')
              li
                a.internal-link(rel='nofollow', href='/', target='_parent') HOME
              li
                a.internal-link(rel='nofollow', href='/samples', target='_parent') SAMPLES
              //li
                //a.internal-link(rel='nofollow', href='/features', target='_parent') FEATURES
              li
                a.external-link(rel='nofollow', href='https://www.github.com/SimonBuxx/LogiJS', target='_parent') GITHUB
              li.active
                a.user-button(href='#') #{user.toUpperCase()}
  #blur
  if sketchData.sketches.length === 0
    .outer-dashboard-container
      #dashboard_item_back.grid-item(style={height: '180px', 'margin': '20px 20px 0 0', 'grid-row': '1', 'grid-column': '1'})
        h1(style="padding: 10px; font-size: 24px;") You don't have any sketches.
        div(style="text-align: center;")
          button.btn.btn-lg.btn-orange(type='submit', onclick="window.location.href='/editor'", role='button' style="margin: 5px;")
            <i class="fa fa-plus-circle"></i> NEW SKETCH
          button.btn.btn-lg.btn-green(type='submit', onclick="window.location.href='/samples'", role='button' style="margin: 5px;")
            <i class="fas fa-stream"></i> VIEW SAMPLES
      .sidebar.grid-item(style={"grid-row": "1", "grid-column": "2", 'margin-top': '20px'})
          .sticky-bar
            button#editor-button.btn.btn-lg.btn-orange(type='submit', onclick="window.location.href='/editor'", role='button' style="margin: 0; width: 100%;")
              <i class="fa fa-plus-circle"></i> NEW SKETCH
            form#import-button.Profile(title="Coming soon!")
              button.btn.btn-lg.btn-orange(disabled="true", type='submit', role='button' style="margin: 10px 0 0 0; width: 100%;")
                <i class="fa fa-file-upload"></i> IMPORT FILE
            form#profile-button.Profile(title="Coming soon!")
              button.btn.btn-lg.btn-orange(disabled="true", type='submit', role='button' style="margin: 10px 0 0 0; width: 100%;")
                <i class="fa fa-user-circle"></i> PROFILE
            form#logout-button.Logout
              button.btn.btn-lg.btn-orange(type='submit', role='button' style="margin: 0; position: absolute; bottom: 20px; width: calc(100% - 40px);")
                <i class="fa fa-sign-out-alt"></i> LOGOUT
  else
    .outer-dashboard-container
      .sidebar.grid-item(style={"grid-row": "1", "grid-column": "2", 'margin-top': '20px'})
          .sticky-bar
            button#editor-button.btn.btn-lg.btn-orange(type='submit', onclick="window.location.href='/editor'", role='button' style="margin: 0; width: 100%;")
              <i class="fa fa-plus-circle"></i> NEW SKETCH
            form#import-button.Profile(title="Coming soon!")
              button.btn.btn-lg.btn-orange(disabled="true", type='submit', role='button' style="margin: 10px 0 0 0; width: 100%;")
                <i class="fa fa-file-upload"></i> IMPORT FILE
            form#profile-button.Profile(title="Coming soon!")
              button.btn.btn-lg.btn-orange(disabled="true", type='submit', role='button' style="margin: 10px 0 0 0; width: 100%;")
                <i class="fa fa-user-circle"></i> PROFILE
            form#logout-button.Logout
              button.btn.btn-lg.btn-orange(type='submit', role='button' style="margin: 0; position: absolute; bottom: 20px; width: calc(100% - 40px);")
                <i class="fa fa-sign-out-alt"></i> LOGOUT
      .carousel.item-container(style="grid-row: 1; grid-column: 1;")
        - var r = 0;
        - var n = 0;
        while r < sketchData.sketches.length
          - n++;
          if n === 3
            - n = 0;
          .sketch_item.grid-item
            //(style="grid-row: " + Math.ceil((r + 1) / 3) + "; grid-column: " + (n+1) + ";")
            img.normal(src='data:image/png;base64,' + images[r], style={position: 'absolute', left: '0', top: '50px', margin: '20px', width: '200px;'}, alt=sketchData.sketches[r])
            p#sketch_name #{sketchData.sketches[r]}
            button.btn.btn-lg.btn-orange(type='submit', onclick="window.location.href='/editor?sketch=" + sketchData.sketches[r] + "'", role='button', style={position: 'absolute', margin: 0, left: '20px', top: '280px', width: '200px'})
              <i class="fa fa-play"></i> OPEN
            p.file_size(style={position: 'absolute', top: '370px', left: '20px'}) File Size: #{sketchData.sizes[r]} KB
            p.modified_date(style={position: 'absolute', left: '20px', top: '395px'}) Last Modified: #{sketchData.modified[r]}
            p.db_sketch_desc(style={'text-align': 'justify', 'font-size': '14px'}) #{descriptions[r]}
            a.download(id='dl' + sketchData.sketches[r]) 
                <i class="fa fa-file-download"></i> DOWNLOAD
            if (user !== 'demouser')
              a.del.delete(id=sketchData.sketches[r])
                <i class="fa fa-trash-alt"></i> DELETE
            else 
              a.del(onclick="alert('Error: This is a demo account!');", id=sketchData.sketches[r])
                <i class="fa fa-trash-alt"></i> DELETE
            div(style="clear:both;")
          -r++;
  .footer_bottom
    .text-center
      .footer_bottom_content
        span#footer-line
          | Copyright &copy; 2020 
          a(href='https://www.github.com/SimonBuxx') Simon Buchholz
          |  | 
        span(style="text-align: right;")
          a.internal-link(rel='nofollow', href='/legal', target='_parent') Legal Notice
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  script
    include ../libraries/jquery.min.js
    include ../libraries/bootstrap.min.js
    include ../site_scripts/dashboard.js