doctype html
head
  title LogiJS: Dashboard
  meta(name='keywords', content='LogiJS, logic, circuit, simulation, simulator, editor, free, open, source, gate, input, output, sketch, electronics, physics, informatics, it, \
  computer, chip, pcb, design, creator, creation, processor, cpu, logi, js, javascript')
  meta(name='description', content='LogiJS is a logic circuit simulator built for educational use. Easy to use, yet powerful.')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='images/favicon.ico')
  style
    include css/bootstrap.css
    include css/index_style.css
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js')
  script.
    window.addEventListener("load", function () {
    window.cookieconsent.initialise({
    "palette": {
    "popup": {
    "background": "#323232",
    "text": "#ffffff"
    },
    "button": {
    "background": "#c83232",
    "text": "#ffffff"
    }
    }
    })
    });
.top-menu
  .container
    .navbar.navbar-default.navbar-fixed-top(style='background: rgb(50, 50, 50);', role='navigation')
      a(href='https://www.github.com/SimonBuxx/LogiJS')
        img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png', alt='Fork me on GitHub')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='images/logo_index.png', style='width: 200px;', alt='LogiJS', title='LogiJS')
        #nav-bar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right(style='margin-top: 40px;')
            li
              a.internal-link(rel='nofollow', href='/', target='_parent') HOME
            li
              a.internal-link(rel='nofollow', href='/features', target='_parent') FEATURES
            li
              a.external-link(rel='nofollow', href='https://www.github.com/SimonBuxx/LogiJS', target='_parent') GITHUB
            li
              a.external-link(rel='nofollow', href='https://www.twitter.com/logi_js', target='_parent') TWITTER
            li
              a.internal-link(rel='nofollow', href='/imprint', target='_parent') IMPRINT
            li.active
              a(href='#', style="margin-left: 30px;") #{user.toUpperCase()}
#blur
#dashboard_wc_back.carousel
  form.Logout
    input.btn.btn-lg.btn-orange(type='submit', role='button' value="Sign out" style="margin: 10px; float:left;")
  input.btn.btn-lg.btn-orange(type='submit', onclick="window.location.href='/editor'", role='button' value="New sketch" style="margin: 10px; float:right; width: 170px;")
  h1(style="padding: 10px;") WELCOME, #{user.toUpperCase()}!
- for(var i = 0; i < sketchData.sketches.length; i++) {
  #dashboard_item_back.carousel
    img.preview(src='previews/' + user + '/' + sketchData.sketches[i] + '.png', style='height: 200px; width: 200px; float:left; margin-right: 20px;', alt=sketchData.sketches[i])
    h1(style="text-align: left; margin: 0;") #{sketchData.sketches[i].toUpperCase()}
    p(style="text-align: left; margin: 10px; position: absolute; bottom: 0; left: 220px; font-size: 20px;") CREATED: #{sketchData.birthtimes[i]} | LAST EDITED: #{sketchData.modified[i]} | FILE SIZE: #{sketchData.sizes[i]} KB
    input.btn.btn-lg.btn-orange.download(type='submit', id=sketchData.sketches[i], role='button' value="Download" style="position: absolute; right: 0; top: 0; padding: 10px 40px; margin: 10px; float:right; width: 170px;")
    input.btn.btn-lg.btn-orange.delete(type='submit', id=sketchData.sketches[i], role='button' value="Delete" style="position: absolute; right: 0; top: 55px; padding: 10px 40px; margin: 10px; float:right; width: 170px;")
    input.btn.btn-lg.btn-green.open(type='submit', id=sketchData.sketches[i], role='button' value="Open" style="position: absolute; right: 0; bottom: 0; padding: 10px 40px; margin: 10px; float:right; width: 170px;")
- }
div(style="height: 70px;")
.footer_bottom
  .text-center
    .footer_bottom_content
      span#footer-line
        | Copyright &copy; 2019 
        a(href='https://www.github.com/SimonBuxx') Simon Buchholz
<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
script
  include ../libraries/jquery.min.js
  include ../libraries/bootstrap.min.js
  include ../site_scripts/dashboard.js