doctype html
<html lang="en">
head
  |   <!-- Google Tag Manager -->
  |   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  |   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  |   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  |   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  |   })(window,document,'script','dataLayer','GTM-WKSH2RQ');</script>
  |   <!-- End Google Tag Manager -->
  title LogiJS: #{organization}
  meta(name='keywords', content='LogiJS, logic, circuit, simulation, simulator, editor, free, open, source, gate, input, output, sketch, electronics, physics, informatics, it, \
  computer, chip, pcb, design, creator, creation, processor, cpu, logi, js, javascript')
  meta(name='description', content='LogiJS is a web-based logic circuit simulator for educational use. Discover the world of logic circuits.')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='images/favi.png')
  style
    include css/bootstrap.css
    include css/index_style.css
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
  link(rel="stylesheet", type='text/css', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js')
  script.
    window.addEventListener("load", function () {
      window.cookieconsent.initialise({
        "position": "bottom-right",
        "content": {
          "dismiss": "Allow Cookies"
        },
        "palette": {
          "popup": {
            "background": "#323232",
            "text": "#fff",
            "link": "#c83232"
          },
          "button": {
            "background": "#c83232",
            "text": "#ffffff"
          }
        }
      })
    });
body
  |   <!-- Google Tag Manager (noscript) -->
  |   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKSH2RQ"
  |   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  |   <!-- End Google Tag Manager (noscript) -->
  .edu-bg(style='background-image: url(\'' + background + '\');')
  .top-menu#top
    .container
      .navbar.navbar-default.navbar-fixed-top(role='navigation', style='background: none;')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/', style="transition: 0.2s;")
              img#top_logo(src='images/logo_index_new.png', alt='LogiJS logo', title='LogiJS', style='float: left;')
              if show_org_name
                div#logo-div(style="float: right; margin: 0; padding: 0; border-left: 5px solid #c83232; padding-left: 20px;")
                  p#logo-text(style="font-size: 45px; margin-top: 10px; line-height: 1.1; transition: 0.2s; letter-spacing: 2px;") #{org_first_line}
                    br
                    | #{org_second_line}
                    span(style="color: #c83232;") .
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.internal-link(rel='nofollow', href='/', target='_parent') <i class="fa fa-sign-in-alt" style="color: #c83232;"></i> #{localization.login}
              li
                a.internal-link(rel='nofollow', href='#', target='_parent') <i class="fa fa-user-plus" style="color: #c83232;"></i> #{localization.register}
              li
                a#mode-button.internal-link(rel='nofollow', href='javascript:;', target='_parent' title=localization.toggle_dark_mode) <i class="fa fa-moon red"></i>
  .slogan-container(style="margin-top: 150px;")
    h1.background-text #{background_text}
  .login_container
    - var error = parseInt(error_code);
    form.SignUp.login-background
      case error
        when 1: p.login-message #{localization.username_invalid}
          span(style="color: #c83232;") .
        when 2: p.login-message #{localization.email_invalid}
          span(style="color: #c83232;") .
        when 3 
          p.login-message #{localization.password_invalid}
            span(style="color: #c83232;") .
          p.login-message.password-tipps #{localization.password_rules}
            span(style="color: #c83232;") .
        when 4: p.login-message #{localization.username_taken}
          span(style="color: #c83232;") .
        default: h1.login_title #{localization.register}
          span(style="color: #c83232;") .
      p
        input.username(type='text', placeholder=localization.username)
        br
        input.email(type='text', placeholder=localization.email)
        br
        input.password(type='password', placeholder=localization.password)
        br
        input.btn.btn-lg.btn-orange.login-confirm-button(type='submit', value=localization.register, role='button')
      p.login-redirect-text
        | #{localization.already_signed_up} 
        a.login-redirect-text(href='/') #{localization.login}
      br
  .footer_bottom.footer_bottom_absolute
      .footer_bottom_content
        .footer_box.footer_box_outer
          if refer_to_logijs_com
            a(rel='nofollow', href='https://logijs.com/', target='_blank') <i class="fa fa-external-link-alt" style="color: #c83232;"></i> #{localization.switch_to_logijs_com}
        .footer_box.footer_box_inner
        .footer_box.footer_box_outer.footer_right
          if made_in_luebeck
            p(style="text-align: right;") Made with <i class="fas fa-heart" style="color: #c83232;"></i> in Lübeck
              span(style="color: #c83232;") .
  script
    include ../libraries/jquery.min.js
    include ../libraries/bootstrap.min.js
    include ../site_scripts/eduSignup.js

    