doctype html
<html lang="en">
head
  |   <!-- Google Tag Manager -->
  |   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  |   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  |   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  |   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  |   })(window,document,'script','dataLayer','GTM-WKSH2RQ');</script>
  |   <!-- End Google Tag Manager -->
  title LogiJS: Samples
  meta(name='keywords', content='LogiJS, logic, circuit, simulation, simulator, editor, free, open, source, gate, input, output, sketch, electronics, physics, informatics, it, \
  computer, chip, pcb, design, creator, creation, processor, cpu, logi, js, javascript')
  meta(name='description', content='LogiJS is a web-based logic circuit simulator for educational use. Discover the world of logic circuits.')
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', href='images/favicon.ico')
  style
    include css/bootstrap.css
    include css/index_style.css
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
  link(rel="stylesheet", type='text/css', href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
  script(src='https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js')
  script.
    window.addEventListener("load", function () {
    window.cookieconsent.initialise({
    "palette": {
    "popup": {
    "background": "#323232",
    "text": "#ffffff"
    },
    "button": {
    "background": "#c83232",
    "text": "#ffffff"
    }
    }
    })
    });
body
  |   <!-- Google Tag Manager (noscript) -->
  |   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WKSH2RQ"
  |   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  |   <!-- End Google Tag Manager (noscript) -->
  .top-menu
    .container
      .navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              img(src='images/logo_index.png', alt='LogiJS logo', title='LogiJS')
          .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a.internal-link(rel='nofollow', href='/', target='_parent') HOME
              li.active
                a.internal-link(rel='nofollow', href='#', target='_parent') SAMPLES
              //li
                //a.internal-link(rel='nofollow', href='/features', target='_parent') FEATURES
              li
                a.external-link(rel='nofollow', href='https://www.github.com/SimonBuxx/LogiJS', target='_parent') GITHUB
              if user !== ''
                li
                  a.user-button.internal-link(rel='nofollow', href='/dashboard', target='_parent') #{user.toUpperCase()}
              else
                li
                  a.login-button.internal-link(rel='nofollow', href='/login', target='_parent') LOGIN
                li
                  a.internal-link(rel='nofollow', href='/signup', target='_parent') REGISTER
  #blurred-background
  .outer-sample-container
    #sample-title.carousel
      button.btn.btn-lg.btn-orange(type='submit', onclick="window.location.href='/editor'", role='button')
        <i class="fa fa-plus-circle"></i> NEW SKETCH
      h1 Logic Circuit Samples
    .carousel.samples-container
      - var r = 0;
      while r < sketches.length
        if r < sketches.length
            .sample_item
              img(src='data:image/png;base64,' + images[r], alt=sketches[r])
              h2.sample_sketch_name #{sketchNames[r]}
              a.open_link(href="/editor?sketch=" + sketches[r], rel="nofollow") <i class="fa fa-play"></i> OPEN
              p.sample_sketch_desc.clear #{descriptions[r]}
        - r++;
    .sidebar.hide-in-mobile
      .sticky-bar.with-padding
        h1 What is LogiJS?
        img(src='images/sample_sketch_1.png', alt="A LogiJS example sketch showing a part of a counter")
        .justify
          p 
            | LogiJS is an open source logic circuit simulator. Logic circuits are everywhere these days and therefore taught at universities worldwide. 
          p 
            | Our goal is to offer a software 
            | that isn't only free for everybody, but also encourages students to get creative with logic circuits and develop a deep understanding of the basic concepts. Our goal is not to
            | build a software for production use or for learning advanced techniques. Instead, we focuse on simplicity to create an experimenting playground free of distractions and frustrations.
          p
            | Please note that LogiJS is currently in active development. Changes may come rapidly and unanounced. Also, we can't guarantee for possible data loss or damage done trough use of our software.
          p
            | If you would like to learn more about the technical side of LogiJS or are interested in supporting us, please visit our project on <a href="https://www.github.com/SimonBuxx/LogiJS">GitHub</a>.
  .footer_bottom
    .text-center
      .footer_bottom_content
        span#footer-line
          | Copyright &copy; 2020 
          a(href='https://www.github.com/SimonBuxx') Simon Buchholz
          |  | 
          a.internal-link(rel='nofollow', href='/legal', target='_parent') Legal Notice
  <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js'></script>
  script
    include ../libraries/jquery.min.js
    include ../libraries/bootstrap.min.js
    include ../site_scripts/lib_front.js